/* --- Main Styles --- */

* {
  box-sizing: border-box;
}

body { 
  font-family: 'Rambla', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.main-header {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  background-color: #222;
  justify-content: space-between;
  padding: 0.45em 2em;
}

.sitename {
  display: inline;
  white-space: nowrap;
  margin: 0;
  /*padding-left: 1em;*/
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  
}

.main-header a, .main-header a:hover, .main-header a:visited {
  color: #ddd;
  display: block;
}

.sitename a {
  padding: 0.5em 0.5em 0.5em 0;
  
}

.main-nav a {
  padding: 0.2em;
  margin: 0.2em;
  border: 2px solid transparent;
}

.main-nav li {
  text-transform: uppercase;
  
}

.main-nav .selected {
  border: 2px solid #ddd;
}

#page-loader {
  flex: 1 0 auto;
}

#content-area { 
  margin: 0 2em;
}

/* Table Styles */

/*table {
  border-collapse: separate;
  margin: 0 0 0 10px;
  border: 1px solid black;
  /*border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

table.table-depth-0 {
  margin: 1em auto;
  width: 500px;
}

thead th {
  background: #aaa;
  color: #FFF;
}

tr {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

th, td {
  border-right: 1px solid #aaa;
  text-align: left;
  padding: 5px;
}

.table-container-td {
  padding: 0;
}

table tr th:last-child,
table tr td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}
/*
table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/

.common {
  background: #dbdbdb;
}
.uncommon {
  background: #81ff7d;
}
.rare {
  background: #7d9bff;
}
.epic {
  background: #cf7dff;
}
.legendary {
  background: #ffd47d;
}

.item-level,
.item-type {
  text-align: center;
  padding: 5px;
}

#craft-tree {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  border: 1px solid black;
}


span.item-bonus > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-tree-item {
  display: flex;
  margin: 1px;
}

span.item-type,
span.item-level,
span.item-recipe-qty,
span.item-user-qty {
  flex-basis: 5%;
  text-align: center;
  padding: 5px;
  min-width: 30px;
}

span.item-name,
span.item-bonus {
  flex-basis: 40%;
}

.tree-ul {
  margin: 0;
  padding: 0;
  display: block;
  margin: 0 0 0 10px;
  list-style-type: none;
}


/* Form Styles */

form {
  margin: 0 auto;
  padding: 2em 0;
}

form p {
  margin: 0 0 .5em 0;
  /*display: inline;*/
  
}

fieldset {
  margin: 0 auto;
  width: 300px;
}

select {
  display:block;
  width: 100%;  
}

/*#form-container {
  background: #ddd;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
*/

.item-icon {
  height: 25px;
  width: 25px;
}

.item-silver {
  height: 17px;
  width: 17px;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

.hidden {
  display: none;
}

.main-footer {
  background-color: #888;
  width: 100%;
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 0;
}

.main-footer span {
  padding: .4em;
}

.clearfix:after {
    clear: both;
}


/* --- Media Queries --- */

