<div id="content-area">
  <form id="item-picker" action="">
    <fieldset name="item_filters">
      <p>
        <label for="type">Type:</label>
          <select ng-model="item_type" ng-options="itemTypes.indexOf(type) as type|capitalize for type in itemTypes" id="type" name="item_type">
            <option value="">Select Type</option>
          </select>
      </p>
      <p> 
        <label for="rarity">Rarity:</label>
        <select ng-model="item_rarity" ng-options="itemRarity.indexOf(rarity) as rarity|capitalize for rarity in itemRarity" id="rarity" name="item_rarity">
          <option value="">Select Rarity</option>
        </select>
      </p>
    </fieldset>
    <fieldset>
      <p>
        <label for="item">Item:</label>
        <select ng-model="item_select" ng-options="items.indexOf(item) as item.name for item in items | filter: {type : item_type, rarity : item_rarity}" ng-change="item = items[item_select]" id="item-select" name="item_select">
          <option value="">Select Item</option>
        </select>
      </p>
    </fieldset>
  </form>
  <hr>
  <div id="craft-tree" ng-show="item">
    <div class="item-recipe-tree">
      <span ng-class="[ itemRarity[item.rarity], { expandable : isEmpty(items[item_select].recipe) && !expanded } ]" class="item-tree-item"  ng-click="expanded = !expanded;">
        <span class="item-type"><img class="item-icon" ng-src="./img/{{itemTypes[item.type]}}.png" alt="{{itemTypes[item.type]}}"></span>
        <span class="item-name">{{item.name}}</span>
        <span class="item-bonus">
          <ul ng-repeat="bonus in item.bonus">
            <li>{{itemBonuses[bonus.stat]}}: {{bonus.value}}%</li>
          </ul>
        </span>
        <span class="item-level">{{item.level}}</span>   
        <span class="item-recipe-qty">{{qty}}</span>
        <span class="item-user-qty">0</span>
      </span>
    </div>
    
    <ul ng-if="isEmpty(items[item_select].recipe)" class="tree-ul"  ng-show="expanded">
      <li ng-repeat="(itemIndex, qty) in item.recipe" ng-include="'/templates/craft-tree.html'" ng-init="item = items[itemIndex]; treeDepth = treeDepth + 1; expanded=false" class="item-recipe-tree">
      </li>
    </ul>
    
  </div>
</div>