<div id="content-area">
  <h2>Home</h2>      
  <h3>Icon Testing</h3>
  <ul>
      <li><img src="./img/helmet.png"></li>
      <li><img src="./img/weapon.png"></li>
      <li><img src="./img/torso.png"></li>
      <li><img src="./img/gloves.png"></li>
      <li><img src="./img/boots.png"></li>
      <li><img src="./img/ring.png"></li>
      <li><img src="./img/silver.png"></li>
  <h3>Table Row Coloring Testing</h3>        
  <table>
    <tr class="common"><td>Common</td></tr>
    <tr class="uncommon"><td>Uncommon</td></tr>
    <tr class="rare"><td>Rare</td></tr>
    <tr class="epic"><td>Epic</td></tr>
    <tr class="legendary"><td>Legendary</td></tr>
  </table>
</div> 