<div id="content-area">
  <h3>Home</h3>
  <p>Hello and welcome to MoECalc! This project is a work in progress (isn't everything?). The point is to augment the hero item features of the online/mobile game March of Empires, by Gameloft. Read below for a description of each feature.</p>
  <ul>
    <li><a href="#/craft">Craft</a> - This feature takes the single-tier views of craft recipes for hero items and creates an n-tier tree that will take you from the selected item all the way down to the most basic parts. Eventually, I would like to combine it with inventory data so that you will be able to tell what if you can craft the selected item from your own inventory. Still working on inputting all items. All common items have been completed.</li>
    <li><a href="#/inventory">Inventory</a> - Eventually, you can enter the quantities of each item you have from your own inventory here. For now, it shows a list of all items currently in the dataset.</li> 
    <li><a href="#/equip">Equipment</a> - This is planned to be an equipment calculator to allow you to build and optimize item sets to augment a particular statistic.</li>
  </ul>
  <!--<h3>Icon Testing</h3>
  <ul>
      <li><img src="./img/helmet.png"></li>
      <li><img src="./img/weapon.png"></li>
      <li><img src="./img/torso.png"></li>
      <li><img src="./img/gloves.png"></li>
      <li><img src="./img/boots.png"></li>
      <li><img src="./img/ring.png"></li>
      <li><img src="./img/silver.png"></li>
  <h3>Table Row Coloring Testing</h3>        
  <table>
    <tr class="common"><td>Common</td></tr>
    <tr class="uncommon"><td>Uncommon</td></tr>
    <tr class="rare"><td>Rare</td></tr>
    <tr class="epic"><td>Epic</td></tr>
    <tr class="legendary"><td>Legendary</td></tr>
  </table>-->
</div> 